@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,400italic|Yanone+Kaffeesatz:400|Inconsolata);
/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 22, ../_sass/mobile.scss */
html {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  color: #444444;
  font-size: 16px; }

/* line 30, ../_sass/mobile.scss */
a {
  color: #ee7621;
  text-decoration: none; }

/* line 35, ../_sass/mobile.scss */
a:hover {
  text-decoration: underline; }

/* line 39, ../_sass/mobile.scss */
h1, h2, h3, h4, h5 {
  color: #222222;
  font-family: "Yanone Kaffeesatz", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0.4em 0; }
  /* line 45, ../_sass/mobile.scss */
  h1 a, h2 a, h3 a, h4 a, h5 a {
    color: inherit; }
  /* line 48, ../_sass/mobile.scss */
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration: none; }

/* line 53, ../_sass/mobile.scss */
iframe {
  width: 100%;
  overflow: hidden; }

/* line 58, ../_sass/mobile.scss */
video {
  width: 100%; }

/* line 62, ../_sass/mobile.scss */
h1 {
  font-size: 2rem; }

/* line 66, ../_sass/mobile.scss */
h2 {
  font-size: 1.5rem; }

/* line 70, ../_sass/mobile.scss */
h3 {
  font-size: 1rem; }

/* line 74, ../_sass/mobile.scss */
h4 {
  font-size: 1.5rem; }

/* line 78, ../_sass/mobile.scss */
h5 {
  font-size: 1.2rem; }

/* line 82, ../_sass/mobile.scss */
h5.logo {
  font-size: 1.6rem; }

/* line 86, ../_sass/mobile.scss */
h1.hero {
  font-size: 4.5rem;
  margin: 0.3em 0 0.1em; }

/* line 91, ../_sass/mobile.scss */
p {
  line-height: 1.5em;
  margin: 1em 0; }

/* line 96, ../_sass/mobile.scss */
.wrapper {
  padding: 20px; }

/* line 100, ../_sass/mobile.scss */
.container {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  position: relative; }
  /* line 17, ../_sass/bourbon/addons/_clearfix.scss */
  .container:before, .container:after {
    content: "";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  .container:after {
    clear: both; }

/* line 106, ../_sass/mobile.scss */
header a {
  color: inherit; }
  /* line 108, ../_sass/mobile.scss */
  header a:hover {
    text-decoration: none; }

/* line 113, ../_sass/mobile.scss */
header nav ul {
  font-size: 16px;
  zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0 0 10px; }
  /* line 17, ../_sass/bourbon/addons/_clearfix.scss */
  header nav ul:before, header nav ul:after {
    content: "";
    display: table; }
  /* line 23, ../_sass/bourbon/addons/_clearfix.scss */
  header nav ul:after {
    clear: both; }

/* line 121, ../_sass/mobile.scss */
header nav ul li {
  float: left; }
  /* line 123, ../_sass/mobile.scss */
  header nav ul li a {
    padding-right: 20px; }

/* line 128, ../_sass/mobile.scss */
header nav.subnav {
  z-index: 2;
  margin: 7px 0 -40px;
  position: absolute;
  right: 0; }

/* line 135, ../_sass/mobile.scss */
header .subnav a {
  padding-right: 0;
  padding-left: 20px; }

/* line 140, ../_sass/mobile.scss */
header .nav-slider {
  height: 3px;
  background-color: #111111;
  position: relative; }

/* line 146, ../_sass/mobile.scss */
header .nav-selection {
  position: absolute;
  height: 3px;
  background-color: #ee7621;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.05s;
  -moz-transition-duration: 0.05s;
  -ms-transition-duration: 0.05s;
  -o-transition-duration: 0.05s;
  transition-duration: 0.05s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; }

/* line 155, ../_sass/mobile.scss */
header .nav-selection.about {
  width: 44px;
  -webkit-transform: translateX(108px);
  -moz-transform: translateX(108px);
  -ms-transform: translateX(108px);
  -o-transform: translateX(108px);
  transform: translateX(108px); }

/* line 160, ../_sass/mobile.scss */
header .nav-selection.posts {
  width: 44px;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px); }

/* line 164, ../_sass/mobile.scss */
header .nav-selection.blog {
  width: 33px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

/* line 169, ../_sass/mobile.scss */
header .nav-selection.projects {
  width: 59px;
  -webkit-transform: translateX(172px);
  -moz-transform: translateX(172px);
  -ms-transform: translateX(172px);
  -o-transform: translateX(172px);
  transform: translateX(172px); }

/* line 174, ../_sass/mobile.scss */
header .subnav-selection {
  position: absolute;
  height: 3px;
  background-color: #111111;
  width: 50px;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -ms-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.05s;
  -moz-transition-duration: 0.05s;
  -ms-transition-duration: 0.05s;
  -o-transition-duration: 0.05s;
  transition-duration: 0.05s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear; }

/* line 184, ../_sass/mobile.scss */
header .subnav-selection.walkie-home {
  right: 156px;
  width: 42px; }

/* line 189, ../_sass/mobile.scss */
header .subnav-selection.walkie-hubot {
  right: 91px;
  width: 44px; }

/* line 194, ../_sass/mobile.scss */
header .subnav-selection.download {
  right: 0;
  width: 71px; }

/* line 199, ../_sass/mobile.scss */
header .subnav-selection.vimdeck-home {
  right: 53px;
  width: 44px; }

/* line 204, ../_sass/mobile.scss */
header .subnav-selection.vimdeck-docs {
  right: 0px;
  width: 34px; }

/* line 209, ../_sass/mobile.scss */
header .subnav-selection.exemplar-home {
  right: 145px;
  width: 44px; }

/* line 214, ../_sass/mobile.scss */
header .subnav-selection.exemplar-docs {
  right: 91px;
  width: 34px; }

/* line 219, ../_sass/mobile.scss */
header .profile {
  float: right;
  height: 58px;
  margin-top: 14px; }

/* line 225, ../_sass/mobile.scss */
header .social {
  width: 16px;
  float: left;
  margin-right: 10px;
  margin-top: 5px; }

/* line 232, ../_sass/mobile.scss */
header .social i {
  display: block;
  margin: 9px 0; }

/* line 237, ../_sass/mobile.scss */
header .avatar, header .avatar-large {
  height: 58px;
  /*border: 2px solid $orange;*/
  float: left;
  margin-right: 10px;
  display: none; }

/* line 245, ../_sass/mobile.scss */
header .avatar-large {
  display: none; }

/* line 249, ../_sass/mobile.scss */
footer {
  font-size: 0.8rem;
  margin-top: 30px; }

/* line 254, ../_sass/mobile.scss */
footer ul {
  padding: 0;
  font-size: 0.8rem; }

/* line 259, ../_sass/mobile.scss */
footer nav {
  border-width: 3px 0 0;
  border-style: solid;
  border-color: #111111;
  padding-top: 20px; }

/* line 266, ../_sass/mobile.scss */
footer nav ul li {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  /* line 62, ../_sass/neat/grid/_grid.scss */
  footer nav ul li:last-child {
    margin-right: 0; }
  @media screen and (max-width: 40em) {
    /* line 266, ../_sass/mobile.scss */
    footer nav ul li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 10px; }
      /* line 62, ../_sass/neat/grid/_grid.scss */
      footer nav ul li:last-child {
        margin-right: 0; }
      /* line 271, ../_sass/mobile.scss */
      footer nav ul li:nth-child(2n) {
        margin-right: 0; } }

/* line 277, ../_sass/mobile.scss */
ul, ol {
  line-height: 1.5em;
  padding-left: 20px;
  font-size: 1rem; }

/* line 283, ../_sass/mobile.scss */
ul {
  list-style: square; }

/* line 287, ../_sass/mobile.scss */
.post {
  border-top: 1px solid #cccccc;
  margin-bottom: 1em; }

/* line 292, ../_sass/mobile.scss */
.post:first-child {
  border-top: none; }

/* line 296, ../_sass/mobile.scss */
.post-header .date {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  text-decoration: lowercase;
  margin: 1.5em 0 -1.7em; }

/* line 302, ../_sass/mobile.scss */
#projects {
  margin-top: 40px; }

/* line 306, ../_sass/mobile.scss */
.project {
  display: block;
  border: 1px solid #cccccc;
  margin-bottom: 2.35765%;
  padding: 2.35765%;
  color: inherit; }
  /* line 312, ../_sass/mobile.scss */
  .project:hover {
    border-color: #5ea5ff;
    text-decoration: none; }

/* line 318, ../_sass/mobile.scss */
.project h2 {
  font-size: 3rem; }

/* line 322, ../_sass/mobile.scss */
.project:nth-child(2n) {
  margin-right: 0; }

/* line 326, ../_sass/mobile.scss */
.pagination {
  margin-top: 30px; }

/* line 330, ../_sass/mobile.scss */
.button, .key-selector a {
  background: #222222;
  color: white;
  padding: 0.4em 0;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Yanone Kaffeesatz", Helvetica, Arial, sans-serif;
  font-size: 1.2rem; }

/* line 341, ../_sass/mobile.scss */
.key-selector {
  margin-bottom: 1rem; }

/* line 345, ../_sass/mobile.scss */
.key-selector a {
  float: left;
  padding: 0.5em 0.4em 0.4em;
  margin-right: 0.4em;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  color: #ee7621; }

/* line 354, ../_sass/mobile.scss */
.key-selector a.active {
  background-color: #ee7621; }

/* line 358, ../_sass/mobile.scss */
.button:hover, .button:active {
  -webkit-box-shadow: 0 0 1px 2px black inset;
  box-shadow: 0 0 1px 2px black inset; }

/* line 362, ../_sass/mobile.scss */
.pagination .button span {
  position: relative; }

/* line 366, ../_sass/mobile.scss */
.pagination a.previous span:before {
  content: "←";
  position: absolute;
  left: -1.5rem; }

/* line 372, ../_sass/mobile.scss */
.pagination a.next span:after {
  content: "→";
  position: absolute;
  left: 2.8rem; }

/* line 378, ../_sass/mobile.scss */
pre, .highlight pre, .highlight code {
  font-family: "Inconsolata", monospace;
  font-weight: normal;
  word-wrap: normal;
  font-size: 1rem;
  line-height: 1.3em; }

/* line 386, ../_sass/mobile.scss */
.chords {
  color: white; }

/* line 390, ../_sass/mobile.scss */
.chords strong {
  color: #6ec5ff; }

/* line 394, ../_sass/mobile.scss */
.post img {
  display: block;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto; }

/* line 401, ../_sass/mobile.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

/* line 407, ../_sass/mobile.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 29em) {
  /*html {
    font-size: 22px;
  }*/
  /* line 422, ../_sass/mobile.scss */
  h1 {
    font-size: 4rem; }

  /* line 426, ../_sass/mobile.scss */
  h2 {
    font-size: 3.5rem; }

  /* line 430, ../_sass/mobile.scss */
  h3 {
    font-size: 3rem; }

  /* line 434, ../_sass/mobile.scss */
  h4 {
    font-size: 2.5rem; }

  /* line 438, ../_sass/mobile.scss */
  h5 {
    font-size: 2rem; }

  /* line 442, ../_sass/mobile.scss */
  .project {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
    min-height: 13.1rem; }
    /* line 62, ../_sass/neat/grid/_grid.scss */
    .project:last-child {
      margin-right: 0; }

  /* line 447, ../_sass/mobile.scss */
  .pagination a {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%; }
    /* line 62, ../_sass/neat/grid/_grid.scss */
    .pagination a:last-child {
      margin-right: 0; }

  /* line 451, ../_sass/mobile.scss */
  header .avatar {
    display: block; } }
  @media only screen and (min-width: 29em) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 29em) and (min-resolution: 144dpi), only screen and (min-width: 29em) and (min-resolution: 1.5dppx) {
    /* line 451, ../_sass/mobile.scss */
    header .avatar {
      display: none; } }

@media only screen and (min-width: 29em) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (min--moz-device-pixel-ratio: 1.5), only screen and (min-width: 29em) and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-width: 29em) and (min-resolution: 144dpi), only screen and (min-width: 29em) and (min-resolution: 1.5dppx) {
  /* line 458, ../_sass/mobile.scss */
  header .avatar-large {
    display: block; } }

@media only screen and (min-width: 29em) {
  /* line 464, ../_sass/mobile.scss */
  header .profile {
    width: 124px; } }
